.carousel-container-x {
    border-radius: 10px;
    overflow: hidden;
}

#carouselDest.carousel.slide {
    margin: 0px 0px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-color: $backCelesteOscuro;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.carousel-item img {
    height: 370px;
    object-fit: cover;
    border-radius: 10px;

}

.carousel-inner.rounded {
    border-radius: 3px;
}

#carousel-1 .carousel {
    margin: 0px 0px;
}

.carousel-indicators{
      bottom: 5px;
}
