$headColor:#007eb5;
$mainColor:#93c6db;
$letraBlanca: white;
$letraAzul: blue;
$backCeleste: rgb(171, 236, 245);
$letraAzulOscuro: #044764;
$backCelesteOscuro: #62aee0;
$botonColor:rgb(82, 202, 192);
$colorNegro: #111;
