$headColor:#007eb5;
$mainColor:#c5d8e0;
$letraBlanca: white;
$letraAzul: blue;
$backCeleste: rgb(171, 236, 245);
$letraAzulOscuro: #044764;
$backCelesteOscuro: #62aee0;
$botonColor:rgb(82, 202, 192);
$colorNegro: #111;
$colorgris: rgb(104, 94, 94)
