main .destinos {
    padding-top: 3px;
    padding-bottom: 50px;
    margin-top: 3px;
    margin-bottom: 50px;
    padding-left: 150px;
    padding-right: 150px;
}


.destinos h1 {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 40px;
    color: $letraAzulOscuro;
    margin-bottom: 20px;
}

h2.animate__animated {
    font-family: sans-serif, Verdana, Geneva, Tahoma;
    font-style: italic;
    font-size: 20px;
    padding: 5px;
    color: white;
    text-shadow: 2px 2px 2px #007eb5, -2px -2px 2px #007eb5;
}

.destinos p {
    font-family: sans-serif, Verdana, Geneva, Tahoma;
    font-size: 16px;
    font-style: italic;
    text-align: justify;
    color: $letraAzulOscuro;
}

#mapa-centrado {
    margin: 0 auto;
    text-align: center;
}
  
iframe {
    width: 100px;
    height: 100px;
  }

