html body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: $mainColor;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}


main {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px; 
}

main section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.row.paddingTB {
    margin: 10px 5px;
}

main h1.animate__animated {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    padding: 5px 15px 15px 15px;
    color: $letraBlanca;
    text-align: center;
}

.buscar{
    display: flex;
    justify-content: right;
    text-align: center;
}

#inputBusqueda {
    width: 200px;
    margin: 40px 10px 40px 10px;
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 5px;
 }


 #ciudades{
    width: 200px;
    margin: 40px 0px 40px 80px;
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 5px;
 }
  
#inputBusquedaPorLocalidad {
    width: 200px;
    margin: 40px 0px 40px 10px;
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 5px;
  }

h2 {
    font-family: "Caveat", cursive;
    font-style: italic;
    font-size: 20px;
    padding: 5px;
    color: $letraAzulOscuro ;
}

h3 {
    font-family: "Caveat", cursive;
    font-style: italic;
    font-size: 27px;
    padding: 5px;
    color: $letraBlanca ;
}


h4 {
    font-family: "Caveat", cursive;
    font-style: italic;
    font-size: 25px;
    padding: 5px;
    color: $letraAzulOscuro ;
}

p {
    font-family: sans-serif, Verdana, Geneva, Tahoma;
    font-size: 15px;
    font-style: italic;
    text-align: justify;
    color: $letraAzulOscuro;
    padding: 5px;
}

index .col-lg-6.col-xs-12 {
    padding: 12px 30px 12px 30px;
}

#contenedorLugares{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 55px;
}

#contenedorFavorito{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 450px;
    margin:5px 5px 0px 5px;
    gap: 55px;
    margin-bottom: 20px;
}


.oculto {
    display: none !important;
}

.card{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0px;
    width: 300px;
    height: 300px;
    background-color: $mainColor;
    border-radius: 8px;
    transition: 1000ms all;
    transform-origin: center left;
    box-shadow: 0 5px 12px $colorNegro;
    outline: 1px solid $colorgris;
    overflow: hidden;
}

.card img{
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 4px;
}

.card:hover{
    cursor:pointer;
    transform: scale(1.1);
}

.tarjetaProductoFavorito{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    left: 0px;
    width: 1000px;
    height: 400px;
    background-image: linear-gradient(to bottom, $headColor , $backCeleste);
    border-radius: 8px;
    transition: 1000ms all;
    transform-origin: center left;
    box-shadow: 0 5px 12px $colorNegro;
    outline: 1px solid $colorgris;
    overflow: hidden;
    padding: 5px;
}


.tarjetaProductoFavorito img{
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 4px;
    padding: 5px;
}

.busquedas{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100px;
  gap: 200px;
  margin-bottom: 50px;
}

#botonBuscar{
    width: 60px;
    height: 20px;
    margin: 50px 5px;
    padding: 0px 5px 0px 5px;
    background-color: $headColor;
    color:$letraBlanca;
}

#botonVerOcultar{
    margin:50px 5px 50px 150px;
    padding: 5px;
    background-image: linear-gradient(to bottom, $headColor , $letraAzulOscuro);
    font-size: 15px;
    width: 200px;
}


#botonBuscarPorLocalidad{
    width: 60px;
    height: 20px;
    margin: 50px 5px;
    padding: 0px 5px 0px 5px;
    background-color: $headColor;
}

button{
    background-color: $headColor;
    color:$letraBlanca;
    width: 95px;
    font-size: 11px;
    border: none;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 0px 5px;

}

.favorito{
    padding: 0px;
    border: 0px;
    width: 20px;
    font-size: 25px;
    background-color: $mainColor;
}

.favorito.favorito-agregado {
    color:$headColor; 
  }

#contenedorDescripcion {
    background-image: linear-gradient(to bottom, $headColor , $backCeleste);
    margin: 25px 30px;
    padding: 10px;
    display: flex;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
}

.tarjetaDescripcion {
    margin: 15px;
    display: flex;
    justify-content: space-between;
}

#swal2-html-container{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom, $headColor , $backCeleste);
}

#contenedorAlert{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    height: 450px;
    margin:5px 5px 0px 5px;
    background-image: linear-gradient(to bottom, $headColor , $backCeleste);
}

.cardAlert{
    position: relative;
    left: 0px;
    background-color: $mainColor;
    border-radius: 8px;
    outline: 1px solid $colorgris;
    overflow: hidden;
    background-image: linear-gradient(to bottom, $headColor , $backCeleste);
}

.cardAlert img{
    width: 300px;
    height: 250px;
    object-fit: cover;
}

.swal2-center>.swal2-popup {
    background-color: $backCeleste;
}

button.swal2-confirm.swal2-styled {
    font-size: 11px;
    height: 20px;
    width: 40px;
    padding: 0px;
    background-color: $headColor;
    border-radius: 2px;
  }
   

.container {
    background-image: linear-gradient(to bottom, $headColor , $backCeleste);
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
}


footer p {
    font-family: sans-serif, Verdana, Geneva, Tahoma;
    font-size: 16px;
    font-style: italic;
    text-align: justify;
    color: $letraBlanca;
}



div ul {
    width: 50px;
    height: 50px;
    transition: height 2s;
}

div ul:hover {
    height: 100px;
    height: 100px;
}

a {
    text-decoration: none;
}


.btn-primary {
    background-color: $headColor;
    border-radius: 0;
    color: $colorNegro;
    font-size: 15px;
    border: 2px solid transparent;
    padding: 0px;
    margin-right: 5px;
    margin-bottom: 6px;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn:active {
    border: 2px solid $headColor;
    color: #012535;
    background-color: transparent;
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
    border: 2px solid $headColor;
    color: $headColor;
    background-color: transparent;
}

.comentario {
    display: flex;
    align-items: center;
    text-align: justify;
    padding: 20px;
}

.col-lg-6.col-xs-12 .comentario {
    display: flex;
    align-items: center;
}


.bg-fondoHeader {
    background-color: $headColor;

}

.container-fluid {
    height: 150px;
}

#contenedorCarrito {
    border: 2px solid black;
    width: 100%;
    min-height: 100px;
}  

