main .localidades {
    padding-top: 3px;
    padding-bottom: 1px;
    margin-top: 3px;
    margin-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
  }


.localidades h1 {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 40px;
  color: $letraAzulOscuro;
  margin-bottom: 20px;
}

.localidades h2{
  font-family: sans-serif, Verdana, Geneva, Tahoma;
  font-style: italic;
  font-size: 20px;
  padding: 5px;
}


.localidades p {
  font-family: sans-serif, Verdana, Geneva, Tahoma;
  font-size: 16px;
  font-style: italic;
  text-align: justify;
  color: $letraAzulOscuro;
}
