.nosotros h1 {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 40px;
    color: $letraAzulOscuro;
    margin-bottom: 20px;
    text-align: justify;
}

.nosotros p {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    padding: 2px 20px 2px 0px;
    color: $letraBlanca;
    text-align: justify;
}

.video-iframe {
    width: 300px;
    height: 300px;
  }