.preguntas {
    margin: 0px 60px;
}


.preguntas h1 {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 40px;
    color: $letraAzulOscuro;
    margin-bottom: 20px;  
}

.preguntas h2{
    font-family: sans-serif, Verdana, Geneva, Tahoma;
  font-style: italic;
  font-size: 20px;
  padding: 5px;
}