.preguntas {
    margin: 0px 60px;
}


.preguntas h1 {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 40px;
    color: $letraAzulOscuro;
    margin-bottom: 20px;  
}